#File to avoid to  push changes to remote repository
node_modules
dist
.DS_Store
.vscode
.idea
.github
*.log
*.tmp
*.swp
*.swo
*.bak
*.old
*.orig
*.rej
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
*.sublime-project
*.sublime-workspace
*.tmproj
*.code-workspace
*.suo
*.user
*.userosscache
*.sln
*.db
*.sql
*.sqlite
*.sqlite3
*.db3
*.log
*.pid
*.seed
*.pid.lock
*.gz
*.zip
*.tar
*.rar
*.7z
*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.obj
*.class
*.obj
*.pyc
*.pyo
*.pyd
*.odt


